body{
	background-image: url('../img/photo.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
    position:relative;
    font-family: 'Open Sans', sans-serif;
	-webkit-filter: alpha(opacity=50) ;
}
.login-wrap{
	width:100%;
    border-radius:8%;
	margin: auto;
	max-width:470px;
	min-height:520px;
	position:relative;
	background:url() no-repeat center;
	box-shadow:0 12px 15px 0 rgba(252, 250, 250, 0.24),0 17px 50px 0 rgba(0,0,0,.19);
	-webkit-border-radius:8%;
	-moz-border-radius:8%;
	-ms-border-radius:8%;
	-o-border-radius:8%;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	border-radius:8%;
	padding:90px 70px 50px 70px;
	background:rgba(255, 255, 255, 0.9);
	-webkit-border-radius:8%;
	-moz-border-radius:8%;
	-ms-border-radius:8%;
	-o-border-radius:8%;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:rgb(22, 20, 20);
	border-color:#ff9900;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:rgb(5, 1, 1);
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(17, 17, 17, 0.1);
}
.login-form .group input[data-type="password"]{

	-webkit-text-security:circle;
}
.login-form .group .label{
	color:rgb(88, 83, 83);
	font-size:12px;
}

.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:rgb(10, 9, 9);
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:rgb(0, 0, 0);
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(10, 10, 10, 0.2);
}
.button{
	background: #00b63d;
	color: white;
	margin-left: 25%;
	width: 50%;
	height: 50px;
	border: none;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-ms-border-radius:25px;
	-o-border-radius:25px;
}
.button:hover{
	background: #02e232;
}
.foot-lnk{
	text-align:center;
	color: rgb(206, 203, 203);
}

.btn{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
  }
  
  .input{
	width: 70%;
	height: 9%;
	border-radius: 10px;
  }
  example_f {
	  border-radius: 4px;
	  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
	  border: none;
	  color: #FFFFFF;
	  text-align: center;
	  text-transform: uppercase;
	  font-size: 22px;
	  padding: 20px;
	  width: 200px;
	  transition: all 0.4s;
	  cursor: pointer;
	  margin: 5px;
  }
	.example_f span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.4s;
	  color: #FFFFFF
	}
	.example_f span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}
	.example_f:hover span {
	  padding-right: 25px;
	}
	.example_f:hover span:after {
	  opacity: 1;
	  right: 0;
  
	}
	
	